name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java_version: [ 8, 11, 14 ]

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK ${{ matrix.java_version }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java_version }}

    - name: Cache Gradle wrapper
      uses: actions/cache@v1
      with:
        path: ~/.gradle/wrapper/dists/gradle-6.4.1-bin/
        key: wrapper-6.4.1

    - name: Cache dependencies
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches/modules-2/
        key: deps-${{ hashFiles('**/*gradle.lockfile') }}

    - name: Build with Gradle
      run: ./gradlew --scan build

    - name: Before cache
      run: rm -f ~/.gradle/caches/modules-2/*.lock ~/.gradle/caches/modules-2/gc.properties
